body {
    background-color: aqua;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220523/pngtree-cartoon-cute-cats-astronauts-with-aquarium-on-head-in-night-space-image_1391140.jpg');
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    min-height: 100vh;
}

/* Header */
.header {
    background-color: rgb(0, 0, 0);
    background-image: url('');
    align-items: center;
    padding: 0 16px;
    font-size: 18px;
    text-align: center;
    color: rgb(0, 252, 252);
    font-family: "Dancing script", cursive;
    text-shadow: 4px 4px 9px rgb(255, 0, 183), 0 0 5px #0000ff;
}

/* Navbar */
.navbar {
    background-color: rgb(118, 105, 130);
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-weight: bold;
    
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-bottom: 16px;
}

.navbar a {
    color: rgb(3, 182, 247);
    text-decoration: none;
    font-size: 18px;
    
}

/* image */
img {
    width: 300px;
    height: auto;
    padding: 20px;
    gap: 32px;
    border-radius: 10px;
}

/* home content */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.card {
    padding: 16px;
    width: 300px;
    border: 1px solid rgb(255, 20, 208);
    box-shadow: 2px 4px 16px rgb(255, 20, 208);
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    flex: 1;
    
}

/* contact */

.contact {
    padding: 12px 24px 24px 24px;
    margin: 48px 12px;
    border-radius: 4px;

}

label {
    font-size: 14px;
    margin-left: 12px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid aqua;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid rgb(255, 0, 144);
}

input[type="submit"] {
    background-color: rgb(255, 0, 144);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:focus {
    background-color: rgb(3, 182, 247);
}

input[type=submit]:hover {
    background-color: rgb(3, 182, 247);
}

/* Contact Form */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(3, 182, 247);
}

.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(255, 0, 144);
    font-family: 'bebas neue', sans-serif;
    font-size: 40px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-bottom: 5px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    font-family: 'bebas neue', sans-serif;
    text-shadow: 2px 2px 4px rgb(255, 0, 144);
    font-size: 24px;
}

/* contact images */

.contact-image-left /*.contact-image-right*/ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact-image-left img /*.contact-image-right img */{
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


























/* Gallery */

#gallery #gallery-container{
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 56.7%; /* 16/9 ratio */
    background-color: blue;
  }
  #gallery #gallery-container #gallery-content{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  #gallery #gallery-container #gallery-content .gallery__item{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
  }
  #gallery #gallery-container #gallery-content .gallery__item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgb(102, 18, 171);
  }
  
  .click-zone{
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 3;
  }
  .click-zone.click-zone-prev{
    left: 0px;
  }
  .click-zone.click-zone-next{
    right: 0px;
  }
  #gallery:not(:hover) .arrow{
    opacity: 0;
  }
  .arrow{
    text-align: center;
    z-index: 3;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(255, 0, 183);
    font-weight: 900;
    opacity: 0.5; 
    transition: opacity 200ms ease;
  }
  .arrow:hover{
    opacity: .8;
  }
  .arrow span{
    position: relative;
    top: 2px;
  }
  .arrow.arrow-prev{
    top: 50%;
    left: 5px;
  }
  .arrow.arrow-next{
    top: 50%;
    right: 5px;
  }
  .arrow.arrow-disabled{
    opacity: 0.1;
  }
  
  #gallery:not(:hover) #gallery-controls{
    opacity: 0;
  }
  #gallery #gallery-container #gallery-controls {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 4;
    position: absolute;
    right: 0;
    bottom: 1em;
    left: 0;
    text-align: center;
  }
  #gallery #gallery-container #gallery-controls .controls__dot {
    width: 0.85em;
    height: 0.85em;
    border-radius: 50%;
    outline: none;
    background-color: #ffffff;
    opacity: .3;
    cursor: pointer;
    transition: opacity 200ms ease;
  }
  .controls__dot:not(:first-child) {
    margin-left: 0.25em;
  }
  #gallery #gallery-container #gallery-controls .controls__dot:hover{
    opacity: .8;
  }
  
  
  #gallery:not(:hover) #gallery-container #toggleFullscreenVisual{
    opacity: 0;
  }
  #gallery #gallery-container #toggleFullscreenVisual{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    
    cursor: pointer;
    z-index:4;
    background-color: rgb(255, 255, 255);
    opacity: .3;
    transition: opacity 200ms ease;
  } 
  #gallery #gallery-container #toggleFullscreenVisual:hover{
    opacity: .8;
  }
  #toggleFullscreen{
    display: none;
  }
  #toggleFullscreen:checked ~ main {
    height: 100vh;
    overflow: hidden;
  }
  #toggleFullscreen:checked ~ main #gallery #gallery-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    padding-bottom: 0px;
  }
  #toggleFullscreen:checked ~ main #gallery #toggleFullscreenVisual {
    opacity: .6;
    background-color: grey;
    position: fixed;
  }
  #toggleFullscreen:checked ~ main #gallery #gallery-controls {
    position: fixed;
  }
  #toggleFullscreen:checked ~ main #gallery #gallery-controls .controls__dot {
    opacity: .6;
    background-color: grey;
  }
  
  
  main #content {
    padding: 0px 36px;
  }
  main #content p {
    margin-top: 36px;
  }
  
 
  .hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }


/* Footer */
.footer {
    background-color: rgb(118, 105, 130);
    text-align: center;
    padding: 4px;
    font-family: 'Dancing Script', cursive;
   bottom: 0;
   width: 100%;
    box-shadow: 0 -2px 10px rgb(0, 0, 0);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position:fixed;
    font-size: 12px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer li {
    margin: 2px 0;
}

/*.bradley-mitchell {
    color:rgb(38, 244, 237);
    font-size: 20px;
    font-family: 'bebas neue', sans-serif;
} */
/*
.footer-container {
 
}*/

/* footer links */

.pet-finder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pet-finder a {
    color: rgb(255, 0, 144);
    text-decoration: none;
    font-size: 14px;  
    font-family: 'bebas neue', sans-serif;
    margin: 2px 0;
    
}

.pet-finder a:hover {
    opacity: 0.7;
}

.footer a {
    text-decoration: none;
}

/* footer icons */
.fa {
    padding: 15px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    box-shadow: 10 10px 10px rgba(0, 0, 0, 0.1);
    
}

.footer .fa {
    font-size: 16px;
    padding: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: rgb(255, 0, 144);
    color: white;
}