body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: blueviolet;
    align-items: center;
    padding: 0 16px;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 20, 208);
}

.sidebar {
    background-color: blueviolet;
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding: 16px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.sidebar li {
    margin-bottom: 16px;
}

.sidebar a {
    color: rgb(255, 20, 208);
    text-decoration: none;
    font-size: 18px;
}

img {
    width: 300px;
    height: auto;
    padding: 20px;
    gap: 32px;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    float: left;
}

.item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.card {
    padding: 16px;
    width: 300px;
    border: 1px solid rgb(255, 20, 208);
    box-shadow: 2px 4px 16px rgb(255, 20, 208);
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    height: 72px;
}