body {
    background-color: aqua;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220523/pngtree-cartoon-cute-cats-astronauts-with-aquarium-on-head-in-night-space-image_1391140.jpg');
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    min-height: 100vh;
}

/* Header */
.header {
    background-color: rgb(0, 0, 0);
    background-image: url('');
    align-items: center;
    padding: 0 16px;
    font-size: 18px;
    text-align: center;
    color: rgb(3, 182, 247);
    font-family: "Dancing script", cursive;
}

/* Navbar */
.navbar {
    background-color: rgb(118, 105, 130);
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-weight: bold;
    
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-bottom: 16px;
}

.navbar a {
    color: rgb(3, 182, 247);
    text-decoration: none;
    font-size: 18px;
    
}

/* image */
img {
    width: 300px;
    height: auto;
    padding: 20px;
    gap: 32px;
    border-radius: 10px;
}

/* home content */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.card {
    padding: 16px;
    width: 300px;
    border: 1px solid rgb(255, 20, 208);
    box-shadow: 2px 4px 16px rgb(255, 20, 208);
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    flex: 1;
    
}

/* contact */

.contact {
    padding: 12px 24px 24px 24px;
    margin: 48px 12px;
    border-radius: 4px;

}

label {
    font-size: 14px;
    margin-left: 12px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid aqua;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid rgb(255, 0, 144);
}

input[type="submit"] {
    background-color: rgb(255, 0, 144);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:focus {
    background-color: rgb(3, 182, 247);
}

input[type=submit]:hover {
    background-color: rgb(3, 182, 247);
}

/* Contact Form */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(3, 182, 247);
}

.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(255, 0, 144);
    font-family: 'bebas neue', sans-serif;
    font-size: 40px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-bottom: 5px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    font-family: 'bebas neue', sans-serif;
    text-shadow: 2px 2px 4px rgb(255, 0, 144);
    font-size: 24px;
}

/* contact images */

.contact-image-left /*.contact-image-right*/ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact-image-left img /*.contact-image-right img */{
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Footer */
.footer {
    background-color: rgb(118, 105, 130);
    text-align: center;
    padding: 8px;
    font-family: 'Dancing Script', cursive;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgb(0, 0, 0);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position:fixed;
    font-size: 14px;
}